/* styles/blog.css */

.blog-container {
  max-width: 800px;
  margin: 4rem auto;
  padding: 2rem;
  background-color: var(--preferred-white);
  color: var(--preferred-black);
  font-family: 'Georgia', serif;
  line-height: 1.75;
}

.blog-header .blog-title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: var(--preferred-red);
  text-align: center;
}

.blog-header .blog-subtitle {
  font-size: 1.5rem;
  color: var(--preferred-black);
  margin-bottom: 2rem;
  text-align: center;
}

.blog-image img, video {
  width: 100%;
  margin: 2rem 0;
  border: 2px solid var(--preferred-red);
  border-radius: 8px;
}

.blog-content .paragraph {
  margin-bottom: 1.5rem;
  text-align: justify;
}

.blog-content blockquote {
  border-left: 4px solid var(--preferred-red);
  padding-left: 1rem;
  margin: 1.5rem 0;
  color: var(--preferred-black);
}

.blog-content .italic {
  font-style: italic;
}
